{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ form_errors(form) }}
                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_row(form.name, {'label': 'Nom', 'attr': {'class': 'form-control', 'required': 'required'}}) }}
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-primary btn-block">Valider</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <br>
{% endblock %}




