<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <span class="h5"> Plan de site </span>
                    <ul class = "list-unstyled">
                        <li><a>Accueil</a></li>
                        <li>Actualités</li>
                        <li>Produits</li>
                    </ul>
            </div>
            <div class="col-4">
                <span class="h5"> Notre entreprise </span>
                <ul class = "list-unstyled">
                    <li>Mentions légales</li>
                    <li>Condition génerales d'utilisation</li>
                    <li>Politique de confidentialité</li>
                </ul>
            </div>
            <div class="col-4">
                <span class="h5"> Nous contacter </span>
                <ul class = "list-unstyled">
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>Linkedin</li>
                </ul>
            </div>
            <div class="col-12 text-center">
                <p>© 2018 - Tous droits reservés</p>
            </div>
        </div>
    </div>
</footer>